
/*.user_comment{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/
.info__usercomment {
    display: flex;
    align-items: center;
}
.info__usercomment img{
    width: 100px;
    height: 80px;
    border-radius: 100px;
    padding: 10px
}
.wrapper__book {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img_book {
    width: 300px;
    height: 500px;
}
.comment_text {
    resize: none;
    display: inline-block;
    border-radius: 10px;
}
.comment_text::placeholder {
   padding: 10px
}
.comment_text {
    padding: 10px
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

